h1 {
    color: blue;
}

em {
    color: red;
}

header {
    background-color:darkgray ;
    line-height: 2;
    margin: auto;
    width: 25%;
    padding: 10px;

}






button {

    margin-left: 37%;

}
